doctype html
html(lang="en")
    head
        title TO-DO
        
        script(src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous")
        link(href='/assets/style.css' rel='stylesheet' type='text/css')
    body
        #todo-table
            form(action='/todo',method="post")
                input(type='text' name='item' placeholder='Enter Task' required)
                button(type="submit") Add Item

                ul
                    each task in data
                        li= task.item
    script(src='/assets/todo-list.js')                    