body{
    
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#989898;;
    margin: 0;
}

.fullscreen{
    background-image: linear-gradient( to bottom right,#0f2027,#203a43,#2c5364);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    padding-top: 15px;
}

.todo-table{
    min-height: 100%;
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width:65%;
    padding:20px;
    /* background:#181c22; */
    background-image: linear-gradient(to right, rgba(24, 28, 34, 1), rgba(24, 28, 34, .8));
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    /* background: #eb2020; */
    background-image: linear-gradient(to right, rgba(235, 32, 32,.7), rgba(235, 32, 32,1));
    border: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}
ul{
    list-style-type: none;
    padding: 0;
    padding-top: 100px;
    margin: 0;
}
 
li{
    widows: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: ivory;
    cursor: pointer;
    letter-spacing: 1px;
}
li:hover{
    text-decoration: line-through;
    background-color: rgba(0,0,0,1);
}
